// app global css in SCSS form
$subtleTouch: #212c3d;
$mainContent: whitesmoke;
$notification: #afd310;

* {
	font-family: 'Nunito', sans-serif;
}
.main {
	font-family: 'Nunito', sans-serif;
}

.sideBar {
	color: white;
}

.text-caption {
	color: rgb(189, 183, 183);
}

.q-icon {
	color: $primary;
}

.bg-mainColor {
	background: #212c3d;
}

.mainContent {
	display: flex;
	background: $mainContent;

	.routerView {
		display: flex;
		flex-grow: 1;

		.divLearners {
			padding: 10px !important;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			color: black;

			.tableLearners {
				color: black !important;
				margin-top: 10px;
				box-shadow: 0px 0px 4px 1px black;
			}
		}
	}
}

.q-toolbar__title {
	color: white;
}

.q-field__native {
	color: white !important;
}

.q-field__label {
	color: $primary !important;
}

.q-card {
	background: $mainContent;
	color: black;
	border: 2px solid $subtleTouch;
}

th {
	font-weight: bold !important;
}

tbody tr:hover {
	cursor: pointer !important;
	background: rgb(241, 178, 61);
}

.learnerTable table thead {
	color: $mainContent;
}
.learnerTable table {
	background: $primary;
	color: black;

	tr:hover {
		cursor: default !important;
		background: none !important;
	}
}

.q-field__control {
	background: $subtleTouch;
}

.q-item {
	border-top: 1px solid rgb(61, 57, 57);
}

.q-tab-panel {
	background: $mainContent;
}

.q-tab {
	color: $subtleTouch !important;
}
